@tailwind base;
@tailwind components;
@tailwind utilities;


#color-picker {
    -webkit-appearance: none;
    padding: 0;
    border: none;
    border-radius: 10px;
    width: 20px;
    height: 20px;
}
#color-picker::-webkit-color-swatch {
    border: none;
    border-radius: 10px;
    padding: 0;
}
#color-picker::-webkit-color-swatch-wrapper {
    border: none;
    border-radius: 10px;
    padding: 0;
}